        <!--================Categories Banner Area =================-->
<section class="solid_banner_area">
    <div class="container">
        <div class="solid_banner_inner">
            <h3>Alışveriş Arabanızın İçi Şuan Boş :(</h3>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a>Alışveriş Sepeti</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->
<!--================login Area =================-->
<section class="emty_cart_area p_100">
    <div class="container">
        <div class="emty_cart_inner">
            <i class="icon-handbag icons"></i>
            <h3>Buralarda gezinmelik bir şeyler yok!</h3>
            <h3>HADİ</h3>
            <a href="/" class="btn subs_btn" style="font-size:24px">Tam Gaz Devam</a>
        </div>
    </div>
</section>
<!--================End login Area =================-->