/***********************************************/
/***************** Accordion #007b5e;********************/
/***********************************************/
@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a {
    color: #2e2a2a;
}

#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #2e2a2a;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #d40000;
}

#accordion-style-1 .card-header .btn.collapsed .fa .fa-question-circle {
    display: none;
}

#accordion-style-1 .card-header .btn .fa .fa-question-circle {
    background: #d40000;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: block;
}
